<section class="austin">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-3">
            <h4 id="austin">Austin</h4>
        </div>
        <div class="col-lg-7">
            <span class="dots"></span>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-offset-1 col-lg-4">
            <h5>Just Don't Move Here</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-1 col-lg-6">
            <p>If you have time, explore the area. Stay a few extra days. Use our wedding as an excuse to take a vacation. Something about Austin etc etc make it sound really fun because it is. Here are some of our favorites.</p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-offset-1 col-lg-4">
            <h5>Thing to Do</h5>
            <h6>URL or Address</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, in nemo! Cumque, eveniet. Placeat illum laboriosam doloribus inventore iste similique tenetur repudiandae, beatae, cumque ducimus recusandae adipisci sit atque rerum.</p>
        </div>
        <div class="col-lg-4">
            <h5>Thing to Do</h5>
            <h6>URL or Address</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, in nemo! Cumque, eveniet. Placeat illum laboriosam doloribus inventore iste similique tenetur repudiandae, beatae, cumque ducimus recusandae adipisci sit atque rerum.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-4">
            <h5>Thing to Do</h5>
            <h6>URL or Address</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, in nemo! Cumque, eveniet. Placeat illum laboriosam doloribus inventore iste similique tenetur repudiandae, beatae, cumque ducimus recusandae adipisci sit atque rerum.</p>
        </div>
    </div>
</section>