<h5>Elyse</h5>
<h6>As told by Jeffrey</h6>
<p>Jeffrey&#8217;s mother&#8217;s first question about Elyse was &rdquo;Is she smart?&ldquo; &rdquo;Yes.&ldquo; After finishing high school a couple years early, the Alabama-raised Elyse earned a graphic design degree at Rensselaer Polytechnic Institute. Her career brought her to Austin in 2009, and she&#8217;s become a leader among front-end web developers. Elyse regularly speaks at developer conferences, and recently took up organizing them as well. In her day job, she builds tools for other software engineers to use at RetailMeNot.</p>

<p>Jeffrey loves how many novels Elyse goes through in a week, and his stomach has benefited (or at least, expanded) from her delicious culinary experiments. Her other interests include wine, dachshunds (yes, we&#8217;ll likely have one soon), and only occasionally groaning at Jeffrey&#8217;s puns.</p>
