<section class="faq">
	<div class="row center-xs start-md">
		<div class="col-xs-11 col-md-offset-1 col-lg-11">
			<h4 id="faq"><span>FAQ</span></h4>
		</div>
	</div>

	<div class="row center-xs start-md">
		<div class="col-xs-11 col-md-offset-1 col-md-8">
			<h6>Just in case you had follow-up questions</h6>
		</div>
	</div>


	<div class="faq-list">
		<div class="row center-xs start-sm">
			<div class="col-xs-11 col-sm-offset-1 col-sm-9 col-lg-4">

				<h5>Can I bring a Plus One?</h5>
				<p><em>“I’m the Doctor, this is Rose Tyler. She’s my ‘plus one.’ Is that all right?”</em></p>
				<p>Yes, of course! Plus Ones are more than welcome, as long as they're ready to party, dance, smile, and celebrate.</p>

				<h5>Can I bring my kids?</h5>
				<p>This one's up to you. While our venue does allow children, it is a bar, and our party doesn't start until 8pm. We don't have any special activities for children planned, so if they're very young, they might be better off at home.</p>

				<h5>Will there be dinner?</h5>
				<p>No, there will be no sit-down dinner: we're skipping the boring part and going straight to the party! We'll have light snacks and desserts all night, but if you plan to drink, plan to eat dinner beforehand.</p>

				<h5>How do I get there?</h5>
				<p>The Belmont is located between Guadalupe and Lavaca Streets on 6th Street.</p>

				<p>We strongly encourage you to use alternate transportation: take <a href="http://uber.com">Uber</a>, <a href="http://lyft.com">Lyft</a>, use car2go, take a pedicab, or if you're staying close by, walk! Please be safe, particularly if you plan to drink. (If you need a new user code for Lyft or Uber, let Jeffrey or Elyse know!)</p>

				<p>There is very limited parking at the Belmont. They do have a valet for $10. You can also park at the Chase parking garage off 5th between Lavaca and Colorado or in the surface lot in the old Post Office. More information about parking can be found at <a href="http://www.downtownaustin.com/experience/parking">downtownaustin.com/experience/parking</a>.</p>

				<h5>What should I wear?</h5>
				<p>Short answer: cocktail attire.</p>
				<p>Long answer: For men, a casual suit, slacks and a blazer. For women, a cocktail/short dress or casual maxi dress, or similar. Leave the jeans at home—let's get fancy!</p>
				<p>Don't forget your dancing shoes! Rubber-soled shoes hinder your moves, so if you want to get down, make sure you've got leather-soled shoes that are comfortable to dance in!</p>

				<h5>Do I have to bring you a card or gift?</h5>
				<p>If you want to get us a gift, <a href="#gifts">you can find more info about that here</a>, but really, we're good, and we'd prefer if you sent them to use later instead of brought them to the party.</p>


				<h5>Wait, there's no ceremony?</h5>
				<p>We're having an intimate ceremony on Friday with our families. We wanted it to be small and personal... but we also wanted to celebrate with all our friends. We'll do a great big champagne toast and dance all night instead! </p>


				<h5>Help! I don't know how to salsa!</h5>
				<p>That's okay! It'll be fun anyway.</p>
				<p>Want to learn? We're taking lessons! Take a <a href="http://godancestudio.com/getting-started/newcomer-night/">intro class</a> at a local dance studio, or even check out tutorials online.</p>
			</div>
		</div>


	</div>

</section>
