<section>
  <div class="row center-xs start-sm">
      <div class="col-xs-11 col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10">
          <h4 id="gifts"><span>Gifts</span></h4>
      </div>
  </div>

  <div class="row center-xs start-sm">
      <div class="col-xs-11 col-sm-offset-2 col-sm-9 col-lg-5">
        <p>We&#8217;re lucky. We have just about everything we need. Feel free to skip the gift and simply write us a nice card.</p>

        <h5>Just show up</h5>
        <p>Honestly, the best wedding gift you can give is to spend the weekend with us in Austin. We know it will take effort, and it won&#8217;t go unappreciated.</p>

        <h5>Travel fund</h5>
        <p>We love traveling more than things. If you&#8217;d like to help make our post-wedding adventure extra special, feel free to give to our <a href="https://www.zola.com/registry/collection-item/5660ed54e4b06538de69e823">honeymoon fund</a>.</p>

        <h5>Things for our home</h5>
        <p>A one-bedroom urban apartment fills up quick, so we honestly don&#8217;t need a lot of stuff. But if gift-giving is your jam, here are <a href="https://www.zola.com/registry/jeffreyandelyse">a few things we&#8217;d love to have in our home</a>.</p>
    </div>
  </div>
</section>
