<header>

    <h1 class="names">
        <img src="/images/names.svg" alt="Jeffrey and Elyse">
    </h1>

    <div class="date-location container"> <!-- indent-three -->
        <h2><span class="day">Saturday</span> <span class="date">9 April 2016</span></h2>
        <h3 class="location"><span class="downtown">downtown</span> Austin</h3>
    </div>

</header>