<header class="row center-xs middle-xs">

    <div class="col-xs-6 names">
        <h1>
            <img src="/images/names.png" alt="Jeffrey and Elyse">
        </h1>
    </div>

    <div class="col-xs-6 info">
        <div class="date-location">
            <h2><span class="day">Saturday</span> <span class="date">9 April 2016</span></h2>
            <h3 class="location">
                <img class="zig" src="/images/zig.png" alt="wheeeee~">
                <span class="downtown">downtown</span>
                Austin
                <img class="texas" src="/images/texasforever.jpg" alt="clear eyes full hearts can't lose">
            </h3>
            {{> nav }}
        </div>
    </div>



</header>