<nav>
	<div class="row">

		<div class="col-xs-12">
			<div class="row center-xs start-sm">

				<div class="col-xs-4 col-lg-3">
					<a href="#venue" class="nav-item">when & where</a>
				</div>

				<div class="col-xs-4 col-lg-3">
					<a href="#stay" class="nav-item">where to stay</a>
				</div>

				<div class="col-xs-4 col-lg-2">
					<a href="#about" class="nav-item">JC + EH</a>
				</div>

				<div class="col-xs-11 col-sm-2">
					<a href="#faq" class="nav-item">FAQ</a>
				</div>


			</div>

		</div>

	</div>
</nav>
