<nav class="indent-one">
    <a href="#venue" class="nav-item">when & where</a>
    <a href="#rsvp" class="nav-item">rsvp <span>say yes!</span></a>
    <a href="#hotels" class="nav-item">hotels</a>
    <a href="#about" class="nav-item">JC + EH</a>
    <a href="#austin" class="nav-item">in austin</a>
    <a href="#" class="nav-item">other stuff</a>
</nav>
