<div class="row">
    <div class="col-lg col-lg-offset-2">

        <nav class="row">
            <div class="col-lg-2">
                <a href="#venue" class="nav-item">when & where</a>
            </div>
            <div class="col-lg-2">
                <a href="#rsvp" class="nav-item">rsvp <span>say yes!</span></a>

            </div>
            <div class="col-lg-2">
                <a href="#hotels" class="nav-item">hotels</a>

            </div>
            <div class="col-lg-2">
                <a href="#about" class="nav-item">JC + EH</a>

            </div>
            <div class="col-lg-2">
                <a href="#austin" class="nav-item">in austin</a>

            </div>
            <div class="col-lg-2">
                <a href="#" class="nav-item">other stuff</a>

            </div>
        </nav>


    </div>
</div>
