<nav>
    <div class="row">

        {{!-- this creates a L-R scroll --}}
        {{!-- <div class="col-xs-offset-1 col-xs col-sm-offset-1 col-sm col-lg-offset-2"> --}}
            {{!-- <div class="row"> --}}

            <div class="col-xs-11 col-sm-2">
                <a href="#venue" class="nav-item">when & where</a>
            </div>

            <div class="col-xs-11 col-sm-2">
                <a href="#rsvp" class="nav-item">rsvp <span>say yes!</span></a>
            </div>

            <div class="col-xs-11 col-sm-2">
                <a href="#hotels" class="nav-item">hotels</a>
            </div>

            <div class="col-xs-11 col-sm-2">
                <a href="#about" class="nav-item">JC + EH</a>
            </div>

            <div class="col-xs-11 col-sm-2">
                <a href="#austin" class="nav-item">in austin</a>
            </div>

            <div class="col-xs-11 col-sm-2">
                <a href="#" class="nav-item">other stuff</a>
            </div>
            {{!-- </div> --}}

        {{!-- </div> --}}

    </div>
</nav>