<nav>
    <a href="#" class="nav-item">when & where</a>
    <a href="#" class="nav-item">rsvp <span>say yes!</span></a>
    <a href="#" class="nav-item">hotels</a>
    <a href="#" class="nav-item">JC + EH</a>
    <a href="#" class="nav-item">in austin</a>
    <a href="#" class="nav-item">other stuff</a>
</nav>
