<section class="photo-mosiac photo-mosiac-top">
  <div class="photo"><img src="/images/photos/showrrea.jpg" alt="Showrrea! at Carlos Correa's first Astros home game!"></div>
  <div class="photo"><img src="/images/photos/briiiiiiiiide.jpg" alt="Being bride-y with Tiffany dress shopping in Houston"></div>
  <div class="photo"><img src="/images/photos/odd-duck.jpg" alt="Engagement brunch at Odd Duck"></div>
  <div class="photo"><img src="/images/photos/astrodome.jpg" alt="Being far too cheerful at 5am buying Astrodome chairs"></div>
  <div class="photo"><img src="/images/photos/bacchanal.jpg" alt="Heavenly light (and some heavenly French red) at Bacchanal New Orleans"></div>
  <div class="photo"><img src="/images/photos/patio.jpg" alt="The view from our apartment!"></div>
  <div class="photo"><img src="/images/photos/lauren.jpg" alt="At Lauren & Affonso's wedding in San Francisco"></div>
  <div class="photo"><img src="/images/photos/berlin.jpg" alt="Prussian palace gates in Potsdam, Germany outside of Berlin"></div>
</section>
