<section class="photo-mosiac photo-mosiac-bottom">
  <div class="photo"><img src="/images/photos/details.jpg" alt="being matchy at Jeffrey's sister Lauren's wedding"></div>
  <div class="photo"><img src="/images/photos/uchi.jpg" alt="celebrating getting engaged at Uchi"></div>
  <div class="photo"><img src="/images/photos/showrrea.jpg" alt="Showrrea! at Carlos Correa's first Astros home game!"></div>
  <div class="photo"><img src="/images/photos/joshleah.jpg" alt="at Elyse's college best friend Josh's wedding, with his bride Leah"></div>
  <div class="photo"><img src="/images/photos/doubledate.jpg" alt="our first double date at Odd Duck with Tiffany and Paul"></div>
  <div class="photo"><img src="/images/photos/sparefoot.jpg" alt="Rocking SpareFoot gear at the Startup Games"></div>
  <div class="photo"><img src="/images/photos/bridge-kiss.jpg" alt="Engagement photos at the Lamar pedestrian bridge."></div>
  <div class="photo"><img src="/images/photos/prom.jpg" alt="That time we went to prom."></div>
</section>
