<div class="photo-mosiac photo-mosiac-top">
  <div class="photo"><img src="/images/photos/10426092_10100279128121976_3181805335202347304_n.jpg"></div>
  <div class="photo"><img src="/images/photos/10462989_10100250539324156_2376418600497057581_n.jpg"></div>
  <div class="photo"><img src="/images/photos/2015-01-25 13.27.36.jpg"></div>
  <div class="photo"><img src="/images/photos/2013-11-02 08.46.19-2.jpg"></div>
  <div class="photo"><img src="/images/photos/10689960_10100163389373356_5737348753186047419_n.jpg"></div>
  <div class="photo"><img src="/images/photos/IMG_4149.jpg"></div>
  <div class="photo"><img src="/images/photos/12006605_10100322894149506_3518430527554410464_o.jpg"></div>
  <div class="photo"><img src="/images/photos/10533891_10100116303214396_8347643620858743677_n.jpg"></div>
</div>
