<div class="photo-mosiac">
  <div class="photo"><img src="/images/photos/2013-09-21 19.07.08.jpg"></div>
  <div class="photo"><img src="/images/photos/10533891_10100116303214396_8347643620858743677_n.jpg"></div>
  <div class="photo"><img src="/images/photos/1484109_939942590526_2016905339_n.jpg"></div>
  <div class="photo"><img src="/images/photos/65094_10100157508274126_4593678203225289308_n.jpg"></div>
  <div class="photo"><img src="/images/photos/1460074_930593765646_1576118909_n.jpg"></div>
  <div class="photo"><img src="/images/photos/2013-11-02 08.46.19-2.jpg"></div>
  <div class="photo"><img src="/images/photos/12006605_10100322894149506_3518430527554410464_o.jpg"></div>
  <div class="photo"><img src="/images/photos/jeffrey-sparefoot.jpg"></div>
  <div class="photo"><img src="/images/photos/1274591_901848366656_1332441647_o.jpg"></div>
  <div class="photo"><img src="/images/photos/10426092_10100279128121976_3181805335202347304_n.jpg"></div>
  <div class="photo"><img src="/images/photos/1511099_958655005696_1385125657_n.jpg"></div>
  <div class="photo"><img src="/images/photos/10533891_10100116303214396_8347643620858743677_n.jpg"></div>
  <div class="photo"><img src="/images/photos/10462989_10100250539324156_2376418600497057581_n.jpg"></div>
  <div class="photo"><img src="/images/photos/UBaNsxB.gif" alt=""></div>
</div>