<section class="photo-mosiac photo-mosiac-bottom">
  <div class="photo"><img src="/images/photos/details.jpg" alt=""></div>
  <div class="photo"><img src="/images/photos/uchi.jpg" alt=""></div>
  <div class="photo"><img src="/images/photos/alabama.jpg" alt=""></div>
  <div class="photo"><img src="/images/photos/joshleah.jpg" alt=""></div>
  <div class="photo"><img src="/images/photos/doubledate.jpg" alt=""></div>
  <div class="photo"><img src="/images/photos/sparefoot.jpg" alt=""></div>
  <div class="photo"><img src="/images/photos/bouquet.jpg" alt=""></div>
  <div class="photo"><img src="/images/photos/prom.jpg" alt=""></div>
</section>
