<div class="photo-mosiac photo-mosiac-top">
  <div class="photo"><img src="/images/photos/2013-09-21 19.07.08.jpg"></div>
  <div class="photo"><img src="/images/photos/10533891_10100116303214396_8347643620858743677_n.jpg"></div>
  <div class="photo"><img src="/images/photos/UBaNsxB.gif" alt=""></div>
  <div class="photo"><img src="/images/photos/2015-01-25 13.27.36.jpg" alt=""></div>
</div>