<div class="photo-mosiac photo-mosiac-top">
  <div class="photo"><img src="/images/photos/10426092_10100279128121976_3181805335202347304_n.jpg"></div>
  <div class="photo"><img src="/images/photos/10846123_10100193062523126_8475615987395136263_n.jpg"></div>
  <div class="photo"><img src="/images/photos/2015-01-25 13.27.36.jpg"></div>
  <div class="photo"><img src="/images/photos/2013-11-02 08.46.19-2.jpg"></div>
  <div class="photo"><img src="/images/photos/65094_10100157508274126_4593678203225289308_n.jpg"></div>
  <div class="photo"><img src="/images/photos/1478912_939941338036_361462700_n.jpg"></div>
  <div class="photo"><img src="/images/photos/12006605_10100322894149506_3518430527554410464_o.jpg"></div>
</div>