<div class="photo-mosiac photo-mosiac-top">
  <div class="photo"><img src="/images/photos/showrrea.jpg"></div>
  <div class="photo"><img src="/images/photos/briiiiiiiiide.jpg"></div>
  <div class="photo"><img src="/images/photos/odd-duck.jpg"></div>
  <div class="photo"><img src="/images/photos/astrodome.jpg"></div>
  <div class="photo"><img src="/images/photos/bacchanal.jpg"></div>
  <div class="photo"><img src="/images/photos/lauren.jpg"></div>
  <div class="photo"><img src="/images/photos/berlin.jpg"></div>
  <div class="photo"><img src="/images/photos/patio.jpg"></div>
</div>
