<div class="rsvp">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-6">
            <h5 id="rsvp">RSVP</h5>
            <p>We are getting married and having the best party ever: drinks, desserts, and a live salsa band at the Belmont, right in our neighborhood. Come at eight p.m. for a champagne toast, our first dance at nine p.m. Dancing and snacks all night!</p>
            <button>Yes! I am so there!</button>
        </div>
    </div>
</div>
