<section class="rsvp">
	<div class="row center-xs start-sm">
		<div class="col-xs-11 col-sm-offset-1 col-sm-6 col-lg-offset-1 col-lg-5">
			<h5 id="rsvp">RSVP</h5>
			<button>Yes! I am so there!</button>
		</div>
	</div>
</section>
