<div class="rsvp">
    <h5>RSVP by March 1, 2016</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium suscipit eligendi esse vero consectetur libero laborum tempore, laboriosam omnis reiciendis quidem sequi nesciunt magnam nisi amet, culpa consequuntur. Quam, fuga?</p>
    <button>Yes! I am so there!</button>
</div>