<section class="stay">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-3">
            <h4 id="hotels">Where to Stay</h4>
        </div>
        <div class="col-lg-7">
            <span class="dots"></span>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-offset-1 col-lg-4">
            <h5>Nearby Hotels and Our Suggestions</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-1 col-lg-6">
            <p>Warning! It turns out it’s MotoGP weekend so be sure to book early before prices go way way up!</p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-offset-1 col-lg-4">
            <h5>Sheraton <span>$200/night</span></h5>
            <h6>11th St &amp; Red River</h6>
            <p>Featuring distinctively modern architecture and majestic views of downtown Austin, we combine the warm, friendly service with a prime location. A landmark situated in the cultural heart of Austin, Texas, we are next door to the famed Capitol.</p>
        </div>
        <div class="col-lg-4">
            <h5>Doubletree <span>$199/night</span></h5>
            <h6>14th St &amp; Something</h6>
            <p>Featuring distinctively modern architecture and majestic views of downtown Austin, we combine the warm, friendly service with a prime location. A landmark situated in the cultural heart of Austin, Texas, we are next door to the famed Capitol.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-4">
            <h5>Airbnb <span>Varies</h5>
            <h6>airbnb.com</h6>
            <p>Personally, we think there&#8217;s no better way to travel than Airbnb. It will let you experience Austin like a local.</p>
        </div>
    </div>
</section>