<h3 id="hotels">Where to Stay</h3>

<h4>Nearby Hotels and Our Suggestions</h4>

<p>Warning! It turns out it’s MotoGP weekend so be sure to book early before prices go way way up!</p>

<h5>Sheraton <span>$200/night</span></h5>
<h6>11th St &amp; Red River</h6>
<p>Featuring distinctively modern architecture and majestic views of downtown Austin, we combine the warm, friendly service with a prime location. A landmark situated in the cultural heart of Austin, Texas, we are next door to the famed Capitol.</p>

<h5>Doubletree <span>$199/night</span></h5>
<h6>14th St &amp; Something</h6>
<p>Featuring distinctively modern architecture and majestic views of downtown Austin, we combine the warm, friendly service with a prime location. A landmark situated in the cultural heart of Austin, Texas, we are next door to the famed Capitol.</p>

<h5>Airbnb <span>Varies</h5>
<h6>airbnb.com</h6>
<p>Personally, we think there&#8217;s no better way to travel than Airbnb. It will let you experience Austin like a local.</p>
