<section class="stay">
    <div class="row center-xs start-md">
        <div class="col-xs-11 col-md-offset-1 col-lg-11">
            <h4 id="stay"><span>Where to Stay</span></h4>
        </div>
    </div>

    <div class="row center-xs start-md">
        <div class="col-xs-11 col-md-offset-1 col-md-8">
            <h6>Nearby Hotels and Our Suggestions</h6>
        </div>
    </div>

    <div class="row center-xs start-md">
        <div class="col-xs-11 col-md-offset-1 col-md-8">
            <p>Warning! It will also be MotoGP weekend, so be sure to book early before prices go way way up.</p>
            <br/>
        </div>
    </div>

    <div class="hotels">
        <div class="row center-xs start-sm">
            <div class="hotel-option col-xs-11 col-sm-offset-1 col-sm-5 col-lg-4">
                <h5><a href="http://doubletree3.hilton.com/en/hotels/texas/doubletree-suites-by-hilton-hotel-austin-AUSFLDT/index.html">DoubleTree Suites</a></h5>
                <em>303 W. 15th Street</em>
                <p>Super easy to get to the venue, and you can double up in suites to save some money. Our top recommendation.</p>
            </div>
            <div class="hotel-option col-xs-11 col-sm-5 col-lg-4 col-lg-offset-1">
                <h5><a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=3079&language=en_US">Sheraton Hotel</a></h5>
                <em>701 East 11th Street</em>
                <p>Big, newly renovated hotel next to I-35, made of the same red granite as the nearby Texas State Capitol. Rates are more reasonable than the convention center hotels.</p>
            </div>
        </div>
        <div class="row center-xs start-sm">
            <div class="hotel-option col-xs-11 col-sm-offset-1 col-sm-5 col-lg-4">
                <h5><a href="https://www.airbnb.com/s/Austin--TX?zoom=14&search_by_map=true&sw_lat=30.24541616775397&sw_lng=-97.76956746295593&ne_lat=30.29448527708073&ne_lng=-97.72373387530945&ss_id=6aeti241">Airbnb.com</a></h5>
                <em>anywhere!</em>
                <p>Personally, we think there&#8217;s no better way to travel than Airbnb. Experience Austin like a local with a cool neighborhood apartment or house to yourself.</p>
            </div>
            <div class="hotel-option col-xs-11 col-sm-5 col-lg-4 col-lg-offset-1">
              <h5><a href="http://www.starwoodhotels.com/whotels/property/overview/index.html?propertyID=3224&language=en_US">W Austin</a></h5>
              <em>200 Lavaca Street</em>
              <p>We&#8217;ll be spending the weekend there. It&#8217;s fancy, modern, and the Austin City Limits studio is downstairs.</p>
            </div>
        </div>
    </div>

</section>
