<section class="stay">
    <div class="row middle-sm">
        <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-lg-offset-1 col-lg-4">
            <h4 id="venue">Where to Stay</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-7">
            <span class="dots"></span>
        </div>
    </div>

    <div class="row center-xs start-sm">
        <div class="col-xs-11 col-sm-offset-1 col-sm-8 col-lg-offset-1 col-lg-6">
            <h5>Nearby Hotels and Our Suggestions</h5>
        </div>
    </div>

    <div class="row center-xs start-sm">
        <div class="col-xs-11 col-sm-offset-1 col-sm-8 col-lg-offset-1 col-lg-6">
            <p>Warning! It will also be MotoGP weekend, so be sure to book early before prices go way way up.</p>
        </div>
    </div>

    <div class="row center-xs start-sm">
        <div class="col-xs-11 col-sm-offset-1 col-sm-5">
            <h6><a href="http://doubletree3.hilton.com/en/hotels/texas/doubletree-suites-by-hilton-hotel-austin-AUSFLDT/index.html">DoubleTree Suites by Hilton Hotel Austin</a></h6>
            <h5>303 W. 15th Street</h5>
            <p>Super easy to get to the venue, and you can double up in suites to save some money. Our top recommendation.</p>
        </div>
        <div class="col-xs-11 col-sm-5">
            <h6><a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=3079&language=en_US">Sheraton Austin Hotel at the Capitol</a></h6>
            <h5>701 East 11th Street</h5>
            <p>Big, newly renovated hotel next to I-35, made of the same red granite as the nearby Texas State Capitol. Rates are more reasonable than the convention center hotels.</p>
        </div>
    </div>
    <div class="row center-xs start-sm">
        <div class="col-xs-11 col-sm-offset-1 col-sm-5">
            <h6><a href="https://www.airbnb.com/s/Austin--TX">Airbnb</a></h6>
            <h5>airbnb.com</h5>
            <p>Personally, we think there&#8217;s no better way to travel than Airbnb. It will let you experience Austin like a local.</p>
        </div>
        <div class="col-xs-11 col-sm-5">
          <h6><a href="http://www.starwoodhotels.com/whotels/property/overview/index.html?propertyID=3224&language=en_US">W Austin</a></h6>
          <h5>200 Lavaca Street</h5>
          <p>We&#8217;ll be spending the weekend there. It&#8217;s fancy, modern, and the Austin City Limits studio is downstairs.</p>
        </div>
    </div>
</section>
