<section class="us">
    <div class="row center-xs start-sm">
        <div class="col-xs-11 col-sm-offset-3 col-sm-8 col-lg-offset-3 col-lg-9">
            <h4 id="about"><span>About J &amp; E</span></h4>
        </div>
    </div>

    <div class="row engagement-photo">
        <div class="col-xs-11 col-sm-offset-3 col-sm-8 col-lg-5">
            <img src="/images/photos/uchi.jpg" alt="At celebratory Uchi engagement dinner on Jan 12!">
        </div>
    </div>
    <div class="row center-xs start-sm">
        <div class="col-xs-11 col-sm-offset-3 col-sm-8 col-lg-5">
            <p>In 2012, Jeffrey and Elyse sat at the same lunch table at a web design and development conference. Jeffrey did not speak the entire meal. Elyse does not remember this.</p>

            <p>A year later, Jeffrey did a much better job of making himself known. At an Austin web meetup after-party, he performed a heartfelt karaoke rendition of <em>Nights in White Satin</em>, by the Moody Blues. Elyse, who has Moody Blues lyrics tattooed on her arm, greeted Jeffrey as he left the stage with a hug and &ldquo;We&#8217;re going to be friends!&rdquo;</p>

            <p class="about-us-callout">Ask Elyse about it some time. You&#8217;ll get a lively re-enactment and a very big hug.</p>

            <p>Their first date started with dinner at a French restaurant and ended in the wee hours of the morning with cocktails at a speakeasy. The subsequent months included music festivals, a company prom, and a magical New Year’s trip to Marfa.</p>

            <p>In January 2015, Jeffrey asked Elyse to marry him. There were glasses of champagne, logs burning in the fireplace, and tears of joy. It was perfect.</p>

            <p>These days, the happy couple lives and works in downtown Austin, travels as much as they can, and can frequently be found at the same restaurant where they went on their first date.</p>

        </div>
    </div>
</section>