<section class="venue">
	<div class="row center-xs start-md">
		<div class="col-xs-11 col-md-offset-1 col-lg-11">
			<h4 id="venue"><span>When & Where</span></h4>
		</div>
	</div>

	<div class="row center-xs start-md">
		<div class="col-xs-11 col-md-offset-1 col-md-8 col-lg-11">
			<h6>drinks, desserts, and a live salsa band</h6>
		</div>
	</div>

	<div class="row center-xs start-md">
		<div class="col-xs-11 col-md-offset-1 col-md-6 col-lg-6">
				<p>We are getting married and having the best party ever: drinks, desserts, and a live salsa band at the Belmont, right in our neighborhood. Come at eight p.m. for a cocktails; our first dance will be at nine p.m. and a champagne toast to follow. Dancing and snacks all night!</p>
		</div>
	</div>

	<div class="row center-xs start-lg venue-photos">
		<div class="col-xs-12 col-sm-3 col-lg-3">
			<div class="photo">
				<img src="/images/belmont/belmont-outside.jpg" alt="Belmont">
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-lg-3">
			<div class="photo">
				<img src="/images/belmont/belmont-patio.jpg" alt="Belmont">
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-lg-3">
			<div class="photo">
				<img src="/images/belmont/belmont-inside.jpg" alt="Belmont">
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-lg-3">
			<div class="photo">
				<img src="/images/belmont/belmont-concert.jpg" alt="Belmont">
			</div>
		</div>
	</div>

	<div class="row center-xs start-sm venue-address">
		<div class="col-xs-11 col-sm-offset-3 col-lg-9">
				<h5 class="address">The Belmont, 305 West 6th Street, Austin</h5>
				<em class="doors">doors at eight &amp;  first dance at nine</em>
		</div>
	</div>

	{{!-- {{> rsvp }} --}}

</section>
