<section class="venue">
    <div class="row middle-sm">
        <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-lg-offset-1 col-lg-4">
            <h4 id="venue">The Belmont</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-7">
            <span class="dots"></span>
        </div>
    </div>

    <div class="row center-xs start-sm">
        <div class="col-xs-11 col-sm-offset-1 col-sm-8 col-lg-offset-1 col-lg-6">
            <h5>drinks, desserts, and a live salsa band</h5>
        </div>
    </div>

    <div class="row center-xs start-sm">
        <div class="col-xs-11 col-sm-offset-1 col-sm-8 col-lg-offset-1 col-lg-5">
                <p>We are getting married and having the best party ever: drinks, desserts, and a live salsa band at the Belmont, right in our neighborhood. Come at eight p.m. for a champagne toast, our first dance at nine p.m. Dancing and snacks all night!</p>
        </div>
    </div>

    <div class="row center-xs">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-lg-3">
                    <img src="/images/belmont.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-3">
                    <img src="/images/belmont.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-3">
                    <img src="/images/belmont.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-3">
                    <img src="/images/belmont.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="row center-xs start-sm">
        <div class="col-xs-11 col-sm-offset-2 col-lg-offset-3 col-lg-7">
                <h6>305 West 6th Street, Austin, Texas</h6>
                <em>doors at eight &amp;  first dance at nine</em>
        </div>
    </div>

    {{> rsvp }}

</section>