<div class="container">
  {{> nav }}
</div>
  {{> header }}
  {{> photo-mosiac-top }}
<div class="container">
  {{> venue }}
  {{> rsvp }}
  {{> stay }}
</div>
  {{> photo-mosiac-bottom }}
<div class="container">
  {{> us }}
  {{> austin }}
</div>