extends layout

block content
    .row
        h1 Jeffrey and Elyse
        p
        | invite you to join them in celebrating their love and commitment with a very Austin weekend
        button.button RSVP

        hr

        h2 Saturday, 9 April
        p drinks, desserts, and a live salsa band
        ul
            li doors at eight p.m.
            li champagne toast
            li first dance at nine p.m.
            li snacks all night

        h3 The Belmont
        p 305 W. 6th St, Austin, TX
        p
        | We're having an intimate ceremony with our families on Friday. We can't wait to celebrate with you on Saturday!

        hr

        h4 The Couple
        p
        | If you ever ask Elyse about how she and Jeffrey met, expect a lively re-enactment that includes a hug and "We're going to be friends!"

        hr

        h4 What to do in Austin

        h4 Registry

        h4 Footer
        p Footer illustration here—tiny succulent or Texas or something

script(src='js/vendor/jquery.js')
script(src='js/foundation.min.js')
script
    $(document).foundation();
