<div class="main container">
  .invite
  h5 Jeffrey and Elyse invite you to join them<br/>in celebrating their love and commitment<br/>with the best party ever.
  .dots
  img(src="/images/dots.svg")

  .details
  h4 Saturday, 9 <span>April</span>
  p drinks, desserts, and a live salsa band
  ul
  li doors at eight p.m.
  li champagne toast
  li first dance at nine p.m.
  li snacks all night
  p.meta We're having an intimate ceremony with our families on Friday.<br/>We can't wait to celebrate with you on Saturday!

  h4.address The Belmont
  h6.address 305 W. 6th St, Austin, TX
</div>