<div class="row middle-xs center-xs rsvp-success">
	<div class="col-xs-6">
		<h3>Thanks!</h3>
		<p>
			Thanks for letting us know either way, but we hope it was a yes! — Jeffrey and Elyse
		</p>

		<h6><a href="/">Back to Home</a></h6>
	</div>
</div>
