// ---------------------------------------------------------------------- //
// FONT-FACE DECLARATIONS ----------------------------------------------- //
// ---------------------------------------------------------------------- //

$font-path: "/fonts";

// TYPNIC SANS ---------------------------------------------------------- //

@font-face {
    font-family: 'typnic-sans';
    src: url('#{$font-path}/typnic-sans.eot');
    src: url('#{$font-path}/typnic-sans.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/typnic-sans.woff2') format('woff2'),
         url('#{$font-path}/typnic-sans.woff') format('woff'),
         url('#{$font-path}/typnic-sans.ttf') format('truetype'),
         url('#{$font-path}/typnic-sans.svg#typnic-sans') format('svg');
    font-weight: normal;
    font-style: normal;
}



// TYPNIC SLAB ---------------------------------------------------------- //

@font-face {
    font-family: 'typnic-slab';
    src: url('#{$font-path}/typnic-slab.eot');
    src: url('#{$font-path}/typnic-slab.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/typnic-slab.woff2') format('woff2'),
         url('#{$font-path}/typnic-slab.woff') format('woff'),
         url('#{$font-path}/typnic-slab.ttf') format('truetype'),
         url('#{$font-path}/typnic-slab.svg#typnic-slab') format('svg');
    font-weight: normal;
    font-style: normal;
}
