// WEDDING COLORS ------------------------------------------------------- //
// ---------------------------------------------------------------------- //

$midnight                 : rgb(15,53,86);
$thesteps                 : rgb(132,207,205);
$agave                    : rgb(91,185,182);
$fern                     : rgb(158,174,80);
$lime                     : rgb(193,210,1);
$paloma                   : rgb(243,121,119); // 236,95,86 - darker version
$paloma-light             : lighten($paloma,10%);
$mezcal                   : rgb(236,154,33);
$sunshine                 : rgb(254,198,52);

$black                    : #000000;
$gray-dark                : #222222;
$gray                     : #999999;
$gray-light               : #d3d3d3;
$white                    : #ffffff;

$fallback: "Georgia", Helvetica, Arial, sans-serif;

$sentinel: "Sentinel", $fallback;
$typnic: "TypnicHeadline", $fallback;
$typnic-slab: "TypnicHeadlineSlab", $fallback;


// GLOBAL --------------------------------------------------------------- //
// ---------------------------------------------------------------------- //

* {
	box-sizing: border-box;
}

body {
	margin: 50px 0 0 0;
	font-family: "Sentinel", "Georgia", Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: $midnight;
	text-rendering: geometricPrecision;
}

// CLEARFIX ------------------------------------------------------------- //
// ---------------------------------------------------------------------- //
// To force a parent element to contain its floated children.
// Based off http://nicolasgallagher.com/micro-clearfix-hack/
// To use: `@extend %clearfix;` on the parent of N number of floated elements, to contain them.

%clearfix {
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        clear: both;
        content: " ";
    }
}


// TYPOGRAPHY STACK ----------------------------------------------------- //
// ---------------------------------------------------------------------- //


h1, h2, h3, h4, h5, h6 {
	font-family: $typnic-slab;
	font-weight: normal;
	color: $midnight;
	margin: 0;
}

h1 {
	font-size: 3.815em;
}


h2 {
	// font-size: 3.052em;
	font-size: 2.441em;
}


h3 {
	font-size: 1.953em;
}


h4 {
	font-size: 1.953em;
	margin-bottom: 0;
}

h5 {
	font-size: 1.563em;
}


h5 {
	margin: 0;
	font-family: $typnic;
	font-size: 80%;
	color: $thesteps;
}

h6 {
	font-size: 1.25em;
}

p {
	font-size: 1em;
	line-height: 1.5;
}

hr {
	background: $gray-light;
	height: 1px;
	border: 0;
}

a,
a:active,
a:visited,
a:hover,
a:focus {
	text-decoration: none;
}

// NAV --------------------------------------------------------------- //
// ---------------------------------------------------------------------- //

nav {
	font-family: $typnic;
	font-weight: normal;
	font-size:  .75em;

	.nav-item {


		span {
			color: $paloma-light;
			font-family: $typnic-slab;
		}
	}

	.nav-item,
	a:active,
	a:visited {
		color: $paloma;
	}
	a:hover,
	a:focus {
		color: $sunshine;
	}
}


// HEADER --------------------------------------------------------------- //
// ---------------------------------------------------------------------- //

header {
	@extend %clearfix;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: top;
}

.names {
	// width: $full-width - $indent-three;
	width: 700px;
	flex: 1 0 auto;
	margin: 0;
}


// HEADER DATE & LOCATION LOCKUP ---------------------------------------- //

.date-location {

	// date
	.day {
		font-family: $typnic;
		color: $thesteps;
	}

	// date
	.date {
		font-family: $typnic-slab;
		color: $agave;
	}

	// location
	.location {
		font-family: $typnic;
		color: $fern;

		.downtown {
			font-family: $sentinel;
			font-weight: bold;
			font-style: italic;
			color: $lime;
		}

	}

}



// VENUE ---------------------------------------------------------------- //
// ---------------------------------------------------------------------- //

.venue {

	h6 {
		color: $fern;
		font-family: $typnic;
		font-size: 120%;
		margin-bottom: 0;
	}

	em {
		color: $agave;
		font-weight: bold;
		font-style: italic;
	}

}

.dots {
	background: url("/images/dots.png") repeat-x;
	display: inline-block;
	height: 10px;
	width: 100px;
	min-width: 60vw;
	vertical-align: 4px;
}




// RSVP ---------------------------------------------------------------- //
// ---------------------------------------------------------------------- //

.rsvp {
	h5 {
		color: $paloma;
	}
}

button {
	background: $paloma;
	color: $white;
	border: none;
	padding: 14px 30px;
	font-family: $typnic;
	letter-spacing: 1px;
}




.box-row {
    margin-bottom: 1rem;
}
.box, .box-first, .box-large, .box-nested, .box-row {
    position: relative;
    box-sizing: border-box;
    min-height: 1rem;
    margin-bottom: 0;
    background: #007FFF;
    border: 1px solid #FFF;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    color: #fff;
}